* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    background: #1A1A19;
    display: flex;
    justify-content: center;

}

/* MOBILE FIRST */
.sub-container {
    width: 100%;
    background: #fff;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #210606;
    color:#fff;
    z-index: 1;
}

header h1 {
    font-size: 2em;
    padding-left: 20px;
}

.hamburguer-btn {
    padding-right: 20px;
    font-size: 2em;
    cursor: pointer;
}

.navlist {
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #4e1d0b;
    height: 0vh;
    width: 100%;
    transition: .3s ease;
}

.navlist li {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: .3s ease;
}

.navlist li a {
    text-decoration: none;
    color: #fff;;
    padding-top: 15px;
}

.navlist li a:hover {
    text-decoration: underline;
    color: #fdfb7a;
}

.section-links:before {
    display: block;
    content: "";
    margin-top: 100px;
}

.img-comeco {
    padding-top: 100px;
    margin-bottom: -100px;
}

.zuriquex {
    width: 100%;
    height: auto;
}

.checkbox {
    display: none;
}

.cidades-section {
    flex-direction: column;
    padding: 25px;
}

.cidadesMaisbaratas {
    padding: 15px 0 15px 0;
}

.cidadesMaisbaratas h2 {
    padding-bottom: 15px;    
}

.cidadesMaisbaratas img {
    width: 100%;
}

.cidades-section section p {
    padding-bottom: 25px;
}

.africa {
    padding-top: 15px;
}
.img-cidadex {
    width: 100%;
}

aside {
    background: #4e1d0b;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #E0C4A5;
    font-weight: 100;
}

.imgAside {
    width: 100%;
    height: auto;
    padding: 15px 0 15px 0;
}

footer {
    display: flex;
    flex-direction: column;
    color: #E0C4A5;
    font-weight: 100;
}

.subFooter {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: #38190f;
}

.cidadesDepois {
    width: 100%;
    padding: 0 25px;
}

.referencias {
    padding:25px;
}

.referencias ul {
    list-style: none;
    line-height: 30px;
}

.referencias ul a {
    color: #E0C4A5;
}

.copyright {
    background-color: #210606;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: #E0C4A5;
}

.referencias ul li a:hover {
    color: #fdfb7a;
}

#check:checked~.navlist {
    height: 100vh;
}

#check:checked~.navlist li{
    opacity: 1;
}

.cidades-img {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.pais {
    display: none;
}

.cidades-img:hover .pais {
    z-index: 0;
    display: block;
    position: absolute;
    margin-top: 20%;
    font-size: 3em;
    font-weight: bold;
}

.cidades-img:hover .img-cidadex {
    opacity: 0.5;
    transition: .3s ease;
    transform: scale(1.2);
}



/* DESKTOP */  
@media only screen and (min-width:768px) and (max-width:1024px){
    .cidades-section {
        color:red;
    }
}


@media only screen and (min-width:1024px) {
    .sub-container {
        width: 75%;
    }

    header {
        width: 75%;
    }

    .hamburguer-btn {
        display: none;
    }
    h1 {
        width: 85%;
    }
    .navlist {
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        top:0;       
    }

    .navlist li {
        opacity: 1;
    }

    .navlist li a {
        padding:5px;
        margin-right: 10px;
    }

    .cidades-section {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .active {
        padding: 2px;
        background: #26C4E0;
        border-radius: 10px;
        color:#fff;
    }

    aside {
        flex-direction: row;
    }

    .america-latina, .africa {
        width: 25%;
        display: flex;
        flex-direction: column;
        padding: 15px 15px 20px 15px;
    }

    .cidadesMaisbaratas {
        width: 50%;
        padding: 15px;
    }
    
    .cidadesMaisbaratas img {
        width: 100%;
        height: auto;
    }

    .zurique, .paris, .hongkong, .cingapura {
        width: 25%;
        padding: 10px;
    }
    
    .subFooter {
        flex-direction: row;
    }

    .cidadesDepois {
        width: 75%;
    }

    .img-comeco {
        margin-bottom: 0;
    }
}